@import "./helpers/vars";
@import "./helpers/colors";

.table {
  margin-top: 64px;
  font-family: $font-family;

  #info {
    justify-content: center;
  }

  table {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  thead {
    display: flex;
    border-bottom: 2px solid color("argent");
    background: color("light-gray");
    width: 100%;

    .table-id {
      display: flex;
      justify-content: center;
      flex: 1;
    }

    .table-stream {
      flex: 2;
    }

    .table-lastEvent {
      flex: 1;
    }
  }

  tbody {
    width: 100%;

    .info {
      justify-content: center;
    }

    .expanded {
      border-bottom: none;
    }

    tr {
      display: flex;
      padding: 12px 6px 12px 6px;
      border-bottom: 2px solid color("argent");

      .group-id {
        display: flex;
        justify-content: center;
        flex: 1;
      }
      .group-stream {
        flex: 2;
      }
      .group-lastEvent {
        flex: 1;

        .arrow-right {
          margin-right: 6px;
        }

        .arrow-down {
          margin-right: 6px;
        }
      }
    }
  }
}
