.table-ip {
  width: 50%;
  margin: 0 auto;
  padding: 8px;
  background-color: #fbfcfc;
  border-radius: 24px;
  text-align: center;
  min-height: 64px;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}

.tablebody img {
  height: 32px;
}

.pagination ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.pagination li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.5px solid #0000ff;
  height: 32px;
  width: 84px;
  list-style: none;
  background-color: #fbfcfc;
}

.pagination li:hover {
  cursor: pointer;
}

.timestamp {
  display: flex;
}

.timestamp-div {
  padding: 0 32px;
  margin-left: 32px;
}
