.table {
  width: 80%;
  margin: 0 auto;
  padding: 8px;
  background-color: #fbfcfc;
  border-radius: 24px;
  text-align: center;
  min-height: 400px;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}

.table thead th {
  padding: 10px 0;
}

.table tbody tr:nth-of-type(odd),
.table-ip tbody tr:nth-of-type(odd) {
  background-color: #e5eaef;
}

.back-button {
  margin: 16px auto;
}

.small-section {
  display: flex;
}

.small-section div {
  padding: 6px;
  margin-left: 72px;
}

.small-section-extension {
  display: flex;
  height: 72px;
}

.small-section-extension div {
  padding: 6px;
  margin-left: 72px;
}

.title {
  display: flex;
}

.title h3 {
  width: 25%;
  margin-left: 72px;
}

.img-triangle {
  width: 16px;
  height: 16px;
}
